# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
.env

# Node/Vite/React
node_modules/
dist/
.env.local
.env.development
.env.production

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db